@model DiskSpaceMonitor.Models.FileMetadata

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FileMetadata</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileSize)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastAccessedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastAccessedDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FilePath)
        </dd>

        <!-- Відображення інформації про сервер -->
        <dt class="col-sm-2">
            Server
        </dt>
        <dd class="col-sm-10">
            @Model.Server?.Name
        </dd>

        <!-- Відображення інформації про диск -->
        <dt class="col-sm-2">
            Disk
        </dt>
        <dd class="col-sm-10">
            @Model.Disk?.Name
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileType)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
